<h2>Edificio 2</h2>
<div class="messages">
    <div class="child">
      Temperatura: 
    </div>
    <div class="child">
      <label>{{temperature}}</label>
    </div>
    <div class="child" style="flex: 0 0 300px">
      <label> {{Tmessage}}</label>
    </div>
</div>
<div class="messages">
    <div class="child">
      Luminosidad: 
    </div>
    <div class="child">
      <label>{{brightness}}</label>
    </div>
    <div class="child" style="flex: 0 0 300px">
      <label> {{Lmessage}}</label>
    </div>
</div>
