.messages {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.child {
    display: flex;
    justify-content: center;
    flex: 0 0 50px;
}